$color-group-1a: #0c7dd3;
$color-group-1b: #63B3ED;
$color-group-1c: #EBF8FF;
$color-group-1d: #116fb7;

$color-group-2a: #CBD5E0;
$color-group-2b: #EDF2F7;
$color-group-2c: #718096;
$color-group-2d: #A0AEC0;

$color-group-3a: #F6E05E;


$color-white: #ffffff;
$color-black: #000000;